<a href="https://colab.research.google.com/github/jotagectti/PYTHON-y-R-BigData-Structuralia/blob/main/Funciones_en_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
%load_ext rpy2.ipython

In [4]:
%%R
FUNCION1 <- function(A=1,B=2){
    SUMA <- A+B
    }

In [6]:
%%R
FUNCION1(2,3)

In [10]:
%%R
FUNCTION1 <- function(A=1,B=2){
    SUMA <- A+B
    PRODUCTO <- A*B
    list(SUMA,PRODUCTO)
}

In [11]:
%%R
FUNCTION1(2,3)

[[1]]
[1] 5

[[2]]
[1] 6

In [13]:
%%R
FUNCTION1()

[[1]]
[1] 3

[[2]]
[1] 2

In [14]:
%%R
FUNCTION1

function (A = 1, B = 2)
{
    SUMA <- A + B
    PRODUCTO <- A * B
    list(SUMA, PRODUCTO)
}
<bytecode: 0x55a565637e38>

In [15]:
%%R
FUNCTION1 <- function(A=1,B=2){
    SUMA <- A+B
    PRODUCTO <- A*B
    list(SUMA=SUMA,PRODUCTO=PRODUCTO)
}

In [16]:
%%R
FUNCTION1(2,3)

$SUMA
[1] 5

$PRODUCTO
[1] 6